  create_table "wrestlers", force: :cascade do |t|
    t.string "name"
    t.string "image"
    t.string "youtube_url"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
  end

    create_table "reigns", force: :cascade do |t|
    t.string "name"
    t.daterange "duration"
    t.bigint "wrestler_id", null: false
    t.bigint "title_id", null: false
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.index ["title_id"], name: "index_reigns_on_title_id"
    t.index ["wrestler_id"], name: "index_reigns_on_wrestler_id"
  end

  create_table "titles", force: :cascade do |t|
    t.string "name"
    t.string "image"
    t.daterange "time_used"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
  end

<div class="wrestler-show">

  <h2><%= @wrestler.name %></h2>

  <%= image_tag @wrestler.image %>

  <iframe width="420" height="315"
  src=<%= "#{@wrestler.youtube_url}?autoplay=1&mute=1&loop=1" %>>
  </iframe>

  <h3>Reigns</h3>

  <ul>
    <% @wrestler.reigns.each do |reign| %>
      <li>

        <h4><%= reign.name %></h4>
        <%= image_tag reign.title.image, class: "title-image" %>
        <h5><%= reign.title.name %></h5>
        <p><%= reign.duration %></p>

      </li>
    <% end %>
  </ul>

</div>
